<div class="contact" style="margin-left:58%">
    <i class="fab fa-facebook-square fa-2x  facebook"></i> |
    <a href="#" class="barrehaut">Qui sommes-nous ?</a> |
    <a href="#" class="barrehaut">Contact</a> |
    <a href="#" class="barrehaut">Aide et accessibilité</a>
</div>
<hr color="blue">
<div class="container">
        <div class=" dropdown pull-right">
          <button class="btn btn-default dropdown-toggle membre " type="button" id="menu1" data-toggle="dropdown">
              <i class="fas fa-user "></i>
              <strong> Espace membre </strong>
            <span class="caret "style="color:darkgoldenrod"></span>
          </button>
          <div class="dropdown-menu ecriture" >
            <div class="container" style="width: 400px; height:300px;">
              <form action="/action_page.php">
                <p></p>
                <div class="form-group">
                  <label for="email"><strong>Email</strong></label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd"><strong>Mot de passe</strong> </label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox"> <strong>Se souvenir de moi</strong></label>
                </div>
                  <button type="submit" class="btn btn-primary" style="width: 100%;font-size: 121%">Se connecter</button>
                <p></p>
                <a > Mot de passe oublié ?</a>
              </form>
            </div>
            <div class="container-fluid footerform">
              <p></p><p></p>
                <p> <i class="fas fa-question-circle"></i> Pas encore inscrit? 
                  <a>S'inscrire</a>
                </p>
            </div>
          </div>
        </div>
  <img src="assets/transport.png">
</div>
<hr color="blue">
  <p></p>
<div class="container" style="color:darkgoldenrod">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Me déplacer
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Liens et plans réseaux</a></li>
            <li><a href="#">Horaires</a></li>
            <li><a routerLink="/calcul-ditineraire">Calcul itinéraires</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mes titres de transport
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">M'informer
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Faire une réservation
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default chercher">
            <i class="fas fa-search "style="color:white"></i>
          </button>
        </form>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
